
p#A{
    color: Red;
}

h2 {
    color: green;
}

a:link {
    color: blue;
  }
   
  a:visited {
    color: purple;
  }

   wrapper {
    margin: 0 auto;
    width:  600px;
    background: #ccc;
  }

  header, footer {
    padding: 11px;
    background: purple;
    color: #fff;
  }

   
  section{
    padding: 10px;
  }

  /* Where the magic happens */

  #Box1{
    float: left;
    background: gold;
    width: 33.333%;
  
  }

  #Box2{
  float: left;
  background: brown;
  width: 33.333%;

  }

  #Box3{
    float: left;
    background: orange;
    width: 33.333%;

    
  }


footer {
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}