
p#A{
    color: Red;
}

h2 {
    color: green;
}

a:link {
    color: blue;
  }
   
  a:visited {
    color: purple;
  }

  . wrapper {
    margin: 0 auto;
    width:  600px;
    background: burlywood;
  }

  header, footer {
    padding: 11px;
    background: purple;
    color: #fff;
  }


  section{
    padding: 10px;
  }

  /* Where the magic happens */