
p#A{
    color: Red;
}

h2 {
    color: green;
}

a:link {
    color: blue;
  }
   
  a:visited {
    color: purple;
  }

   wrapper {
    margin: 0 auto;
    width:  600px;
    background: #ccc;
  }

  header, footer {
    padding: 11px;
    background: purple;
    color: #fff;
  }

   
  /* section{
    padding: 10px;
  } */

  /* Where the magic happens */

  #Box1{
    float: left;
    background: gold;
    width: 33.333%;
  
  }

  #Box2{
  float: left;
  background: brown;
  width: 33.333%;

  }

  #Box3{
    float: left;
    background: orange;
    width: 33.333%;

    
  }


footer {
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img{
  display: block;
  float: left;
  padding: 12px;
  margin: 0 30px 10 px 0
}

.image{
 clear:both
}

section{
  background: #ccc;
  padding: 20px;
  margin: 10px;
  width: 400px

}

article{
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: 10px
}

#rap article {
  float: left;
  background: aqua;
}

#country article{
  float: right;
  background: limegreen;
}

/* Helps to insure that the artiles stays in the grey box */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;

}